@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.bg {
    background-color: rgb(49, 48, 53);
}

.ftr-contact {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
}

.hutlitle {
    flex: 0 0 auto;
    margin: 0px 10px;
    font-weight: 600;
}

.hutmsg {
    flex: 1 1 0%;
}

.serviceIcon {
    width: 50px;
    height: 50px;
}

.ftr-sec-title {
    color: rgba(188, 192, 196, 0.74);
    ;
    text-align: inherit;
    line-height: 18px;
    width: auto;
    flex-basis: auto;
    margin-top: 10px;
    font-size: 11px;
}

.ftr-sec-title:hover {
    color: aliceblue;
}

.serviceIcon svg {
    fill: rgb(198, 198, 199);
}

.serviceIcon svg:hover{
    fill: aliceblue;
}

.ftr-sec{
   background-color:  rgb(64, 64, 67);
}

.dash {
    flex: 1 1 0%;
    height: 1px;
    background: rgb(93, 93, 95);
}

.dashimg {
    padding: 0px 20px;
}

.dashdiv {
    display: flex;
    width: 100%;
    align-items: center;
    height: 125px;
}

.iconpath {
    text-align: center;
}

.mediaicon {
    display: inline-block;
    margin-right: 10px;
    width: 37px;
    height: 37px;
}

.mediaicon svg {
    fill: rgb(93, 93, 95);
}
.mediaicon svg:hover{
    fill: rgb(198, 198, 199);
}

.copyright {
    padding: 30px;
    font-size: 11px;
    color: rgb(102, 102, 102);
    text-align: center;
}