@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.moviehead {
    background-color: rgb(51, 53, 69);
    padding: 35px 20px 15px;
    
}

.movietitle {
    color: white;
    font-size: 37px;
    font-weight: 400;
    cursor: pointer;
}
.movietitle:hover{
    text-decoration: underline;
    font-weight: 400;
}
.certificate {
    text-align: center;
    border: 1px solid white;
    color: white;
    padding: 2px;
    border-radius: 50%;
    min-width: 25px;
    min-height: 25px;
    font-size: 13px;
    cursor: pointer;
}

.genres{
    font-size: 10px;
    font-weight:700 ;
    color: #a09b9b;
    border: 1px solid #979696;
    padding: 2px 6px;
    border-radius: 15px;
    cursor: pointer;
}