@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.navfirst {

    background: rgb(51, 53, 69);
    padding: 0px;
    box-shadow: none;
    color: aliceblue;

}



.navfirstbox {
    width: 91%;
    height: 64px;
    margin: 0px auto;
}

.searchArea {
    margin-left: 20px;
    position: relative;
    background-color: white;
    border-radius: 4px;
}

.searchArea span {
    top: 7px;
    left: 13px;
    position: absolute;
}

.searchArea input {
    padding: 5px;
    width: 550px;
    color: #666666;
    padding-left: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
}

.search::placeholder {
    font-size: 14px;
    color: #999999;
}

.down {
    color: #f1e8e8 !important;
}

.location {
    font-size: 14px;
    font-weight: 400;
    color: rgb(204, 204, 204);
}

.profile-Pic {
    border: 1px solid;
    width: 40px;
    height: 40px;
    align-items: center;
}

.profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-indent: -9999px;
    border: 1px solid rgb(255, 255, 255);
    display: block;
}

.signUp {
    color: rgb(255, 255, 255);
    background-color: rgb(248, 68, 100);
    font-size: 12px;
    height: 25px;
    width: 67px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgb(248, 68, 100);
    display: block;
    padding: 0 13px;
}

.navsecond {
    width: 100%;
    background: rgb(31, 37, 51);
    color: #CCCCCC;
    font-size: 14PX;
    height: 40px;
}

.navsecondbox {
    width: 91%;
    margin: 0px auto;
}

.bYfeWy {
    padding: 0px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 400;
    color: rgb(204, 204, 204);
}

.gXOPeC {
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.login-page-title {
    flex: 1 1 0%;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: none;
    color: rgb(91 91 91);
}

.menu-icon {
    background: transparent;
    border: none;
    outline: none;
}

.menu-icon span {
    color: #999999;
}

.user-name {
    margin-top: 5px;
    padding-left: 12px;
    color: #ffffff;
    font-size: 14px;
}

.login-credencial {
    border: 1px solid;
    padding: 10px;
}

.fPrBPf {
    padding: 12px 0px;
    font-size: 14px;
    display: flex;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    color: rgb(89, 89, 89);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(153, 153, 153);
    transition: background 0.5s ease-out 0s;
}

.fPrBPf:hover {
    border: 1px solid rgba(233, 233, 233, 0.904);
}

.bPjxSZ {
    margin: 0 50px;
}

.or {
    color: #666666;
    font-size: 14px;
}

.flag {
    margin: 10px 6px 0;
}

.backarrow {
    padding: 24px 28px;
    text-align: start;
}

.hmgVIc {
    display: flex;
    flex: 1 1 0%;
    /* gap: 33px; */
    flex-direction: column;
}

.countryCode {
    margin: 10px 6px 0;
}

.phoneInput {
    letter-spacing: 2px;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: rgb(102, 102, 102);
    padding: 10px 2px 4px;
    transition: border-color 0.2s ease 0s;
    border-width: 0px 0px 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
    border-radius: 0px;
}

a {
    color: #666666;
}

.agreement {
    color: #666666;
    font-size: 12px;
}

.loginForm {
    width: 85% !important;
}

.btn-continue {
    padding: 12px 0px;
    width: 100%;
    background-color: rgb(204, 204, 204);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    transition: background-color 0.2s ease-in-out 0s;
    cursor: pointer;

}

.otp-head {
    font-size: 24px;
    color: #333333;
    line-height: 28px;
    font-weight: 600;
    text-align: start;
}

.otp-sent {
    text-align: start;
    padding: 5px 0;
    color: #666666;
    font-size: 14px;
}

.otp-sent span {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: normal;
    color: rgb(102, 102, 102);
    font-weight: 500;
    margin-left: 2px;
}

.jLBVFy {
    width: 40px;
    height: 40px;
    outline: none;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 204);
    caret-color: rgb(220, 53, 88);
    font-size: 20px;
    margin-right: 8px;
    text-align: center;
    appearance: none;
    border-radius: 4px;
    box-shadow: none;
    font-weight: 700;
}

.jLBVFy:focus {
    border: 1px solid rgb(220, 53, 88);
}

.otp {
    flex: 1 1 0%;
}

.otpTimer {}

.hide {
    visibility: hidden;
}

/* .otpField input::-webkit-inner-spin-button,
.otpField input::-webkit-outer-spin-button{
    display: none;
} */

.otpError {
    color: red;
    font-size: 13px;
}

.otpResend {
    border: none;
    outline: none;
    color: #DC3558;
    padding: 0 5px;
}


/* .userSignup{
    display: block;
}*/

/* .admin{
    display: none;
}  */

.admin-btn {
    margin-left: 15px;
    border: none;
    outline: none;
    padding: 0px 17px;
    color: black;
    background: aquamarine;
    border-radius: 25px;
}

.register {
    font-size: 12px;
    color: rgb(51, 51, 51);
}

.register span {
    color: rgb(36, 36, 236);
    cursor: pointer;
    text-decoration: underline;
}

.signTitle {
    color: rgb(255, 254, 254);
    font-size: 19px;
    margin-left: 35%;
    font-weight: 600;
}



label {
    color: ffffff;
    font-size: 14px !important;
}

.signinput {
    margin: 10px;
}

.signinput input {
    outline: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding: 5px 10px;
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.signInBody {
    margin: 20px 50px 0 50px;

}

.signupform {
    background-image: linear-gradient(rgba(0, 255, 76, 0.5), rgba(255, 0, 64, 0.5)), url("../Assets/popcon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

